:root {
  --trans: 0.155s cubic-bezier(.215,.61,.355,1);
  --blue: #1698D9;
  --lightblue: #2EA8E6;
  --pink: #d91667;
  --lightpink: #e52e7a;
  --gray: #666666;
  --white: #ffffff;

  --main-font: "TrebuchetMS", "Arial", sans-serif;
  --secondary-font: "Exo2", "Arial", sans-serif;
}
